name: Matrix-Check

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      ref:
        description: branch|tag|SHA to checkout
        default: 'main'
        required: true

jobs:
  matrix-check:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-version:
          - 4.13.x
          - 4.14.x
          - 5.0.x
        node-version:
          - lts/gallium # v16 Active LTS
          - lts/hydrogen # v18 Active LTS
          - 20

    if: github.event.pull_request.draft == false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 2

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: './*/yarn.lock'

      - name: Cache OPAM switch
        id: cache-switch
        uses: actions/cache@v3
        with:
          path: _opam
          key: v1-${{ runner.os }}-${{ matrix.ocaml-version }}-opam-switch

      - name: Check OCaml version and workspace info
        run: ./scripts/ci_print_env.sh

      - name: Install OPAM dependencies
        run: |
          opam install -y . --deps-only --with-test || (opam update && opam install -y . --deps-only --with-test)

      - name: Perform dune build
        run: opam exec -- dune build

      - name: Perform dune runtest
        run: opam exec -- dune runtest
